<mat-card class="mat-elevation-z3">
    <mat-card-header>
        
        <img mat-card-avatar src="../../../../assets/read-svgrepo-com.svg"/>
     
     <mat-card-title>Genres</mat-card-title>
     <mat-card-subtitle>List of Genres</mat-card-subtitle>
 </mat-card-header>
 <mat-card-content>
    <div class="right">
        <a mat-mini-fab [routerLink]="['/genre-create']">
            <mat-icon>add</mat-icon>
        </a>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="genreName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Genre Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.genreName}}</mat-cell>

        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>...</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a [routerLink]="['/genre-edit', element.genreID]"><mat-icon>edit</mat-icon></a>
                <button [disabled]="!element.canDelete" mat-icon-button (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
            </mat-cell>

        </ng-container>
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 40]" [pageSize]="5" showFirstLastButtons></mat-paginator>
 </mat-card-content>
</mat-card>