<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <div mat-card-avatar class="home-avatar">
            <img src="../../../assets/angular-svgrepo-com.svg" style="width:50px">
        </div>
        <mat-card-title>First Angular</mat-card-title>
        <mat-card-subtitle>Angular<sup>14</sup>+Material UI</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora sed vero accusamus sapiente alias optio fugiat quod debitis reiciendis provident error dolore repudiandae corrupti quasi expedita numquam, delectus tenetur atque!</p>
    </mat-card-content>
</mat-card>
